@model Domain.DiaryRequirements
@using System.Linq;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Requirements";
    ViewData["PlayerName"] = @Model.Levels.PlayerName;
}

<br />

@foreach (var diary in Model.Diaries.GetDiaries())
{
    <h3>@diary.Name</h3>
    <div class="row">

        @foreach (var diffi in @diary.Diary.GetDifficulties())
        {
            <div class="col-12 col-sm-6 col-lg-3 px-1 mb-1">
                <div class="card">
                    <div class="card-body">
                        <h4>@diffi.Name</h4>

                            <table class="table table-striped table-hover table-sm mb-1">
                                <thead>
                                    <tr>
                                        <th>Skill</th>
                                        <th>Needed (Have)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var skill in @diffi.Difficulty.GetSkills().Where(x => x.Level > 0))
                                    {
                                        var currentLevel = Model.Levels.Skills.Single(x => x.Name == skill.Name).Level;

                                        <tr class="@(currentLevel >= skill.Level ? "" : "table-danger")">
                                            <td>@skill.Name</td>
                                            <td>@skill.Level (@currentLevel)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <hr />

                            <h5>Quests</h5>
                            @if (diffi.Difficulty.Quests?.Count() > 0)
                            {
                                <ul>
                                    @foreach (var quest in @diffi.Difficulty.Quests)
                                    {
                                        <li>@quest</li>
                                    }
                                </ul>
                            }
                            else 
                            {
                                <em>No quest requirements</em>
                            }
                            
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />
}
